/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  width: 1200px;
  margin: 0 auto;
  background-color: #f1f0eb;
}
html,
body,
p {
  font-family: "Source Sans Pro", sans-serif;
}
h1,
h2 {
  text-align: center;
  padding: 10px;
  font-size: xx-large;
  font-family: "Lakki Reddy", cursive;
}
h3 {
  padding: 10px;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.25rem;
}
p {
  padding: 30px;
}
.image {
  width: 100%;
  height: auto;
  align-self: center;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px 20px 50px;
  margin-bottom: 10px;
}
nav button {
  text-decoration: none;
  color: #c5cbe3;
  text-align: center;
  font-size: large;
  border: 3px solid #d79922;
  background-color: #4056a1;
  padding: 10px;
  width: 25%;
  border-radius: 12px;
}
.about-header {
  padding: 60px;
  text-align: center;
}
.about-header .about-img {
  max-width: 100%;
  height: auto;
  border-radius: 12px;
  border: 2px solid #f13c20;
  padding: 5px;
  box-shadow: 10px 10px 5px grey;
}
* {
  box-sizing: border-box;
}
body {
  width: 100%;
  margin: 0;
  color: #31312f;
}
.statement h3 {
  text-align: center;
  font-size: x-large;
}
.who-we-are {
  display: flex;
  flex-wrap: wrap;
}
.who-we-are .team {
  display: inline-block;
  margin: 20px;
  padding: 0 25px;
  height: 150px;
  width: 490px;
  font-size: 16px;
  border-radius: 100px;
  background-color: #d79922;
}
.who-we-are .team .team-img {
  float: left;
  margin: 0 10px 0 -25px;
  height: 150px;
  border-radius: 50%;
}
.who-we-are .team .team-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 150px;
}
.who-we-are .team .team-info p {
  padding: 5px;
}
.who-we-are .team .team-info .links {
  display: flex;
  justify-content: flex-end;
  margin-right: 25px;
}
.who-we-are .team .team-info .links img {
  height: 35px;
}
@media screen and (max-width: 500px) {
  font-size: 50px;
}
footer {
  width: 100%;
  height: 8vh;
  background-color: #4056a1;
  text-decoration: none;
  color: #4056a1;
  text-align: center;
}
footer nav {
  display: flex;
  justify-content: space-evenly;
  text-decoration: none;
  padding: 1.5rem;
  font-size: 1rem;
}
footer nav a {
  color: #4056a1;
  text-decoration: none;
}
footer nav a:hover {
  color: #d79922;
  font-size: 1.6rem;
}
footer p {
  color: #4056a1;
}
