* {
  box-sizing: border-box;
}

body {
  width: 100%;
  margin: 0;
  color: @text-color;
}

.statement {
  h3 {
    text-align: center;
    font-size: x-large;
  }
}

@media @tablet {
  .statement {
    h1,
    h3 {
      font-size: 1.5rem;
    }
    // h3 {
    //   font-size: large;
    // }
  }
  h2 {
    font-size: 1.5rem;
  }
}
@media @mobile {
  .statement {
    h3 {
      font-size: 1.25rem;
    }
  }
}

.who-we-are {
  display: flex;
  flex-wrap: wrap;
  .team {
    display: inline-block;
    margin: 20px;
    padding: 0 25px;
    height: 150px;
    width: 490px;
    font-size: 16px;
    border-radius: 100px;
    background-color: #d79922;

    .team-img {
      float: left;
      margin: 0 10px 0 -25px;
      height: 150px;
      border-radius: 50%;
      border: 2px solid #f13c20;
      padding: 3px;
    }

    .team-info {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      height: 150px;

      p {
        padding: 5px;
      }
      .links {
        display: flex;
        justify-content: flex-end;
        margin-right: 25px;

        img {
          height: 35px;
        }
      }
    }
  }
}
@media @mobile {
  font-size: 50px;
}
// .team img {
//   float: left;
//   margin: 0 10px 0 -25px;
//   height: 50px;
//   width: 60px;
//   border-radius: 50%;
// }
