// GENERAL STYLES
body {
    width: 1200px;
    margin: 0 auto;
    background-color: #F1F0EB;
}


a {
    text-decoration: none;
    color: black;
    font-size: large;
}

h1 {
   text-align: center;
   padding: 10px;
   font-size: xx-large;
}

p {
    padding: 30px;
}

.image {
    width: 100%;
    height: auto;
    align-self: center;
}

footer {
    background-color: #EFE2BA;
}

