// GENERAL STYLES
body {
    width: 80%;
    margin: 0 auto;
    background-color: #F1F0EB;
    color: #565550;
    font-family: "Source Sans Pro", sans-serif;

    @media @mobile {
        width:100%;
      }
}

h1 {
   text-align: center;
   padding: 10px;
   font-size: xx-large;
   font-family: 'Lakki Reddy';
}

h2 {
    text-align: center;
    padding: 10px;
    font-size: x-large;
}
h4{
    text-align: center;
    padding: 10px;
}

p {
    padding: 10px;
}

footer {
    background-color: #EFE2BA;
}

