// GENERAL STYLES
body {
  width: 80%;
  margin: 0 auto;
  background-color: @bg-color;
}

html,
body,
p {
  font-family: "Source Sans Pro", sans-serif;
}

h1,
h2 {
  text-align: center;
  padding: 10px;
  font-size: xx-large;
  font-family: "Lakki Reddy", cursive;
}

h3 {
  padding: 10px;
  font-family: @font-body;
  font-size: 1.25rem;
}

p {
  padding: 30px;
}

.image {
  width: 100%;
  height: auto;
  align-self: center;
}
