.reg-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
    border: 2px solid #4056A1;
}

.text-container {
    margin:20px auto;
    width: 80%;
}