
nav {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:15px 50px 20px 50px;
    margin-bottom: 10px;
   

    button {
        text-decoration: none;
        color: #c5cbe3;
        font-size: large;
        border: 3px solid #D79922;
        background-color: #4056a1;
        padding: 10px;
        width:25%;
        border-radius: 12px;
    }
}

