
nav {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:20px 200px 20px 200px;
    margin-bottom: 10px;
    border: 2px solid #D79922;
    background-color: #EFE2BA;
}

